<div class="header command" id="command-{{ command.name }}" data-name="{{ command.name }}" data-saved="true">
    <div class="row clearfix">
        <div class="col-lg-2 col-xs-12">
            <div class="form-group form-float">
                <div class="input-group">
                    <span class="input-group-addon">!</span>
                    <div class="form-line">
                        <input type="text" name="name" class="form-control" value="{{ command.name }}" />
                        <label class="form-label">{% trans from 'customcommands' %}form.command{% endtrans %}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xs-12">
            <div class="form-group form-float">
                <div class="form-line">
                    <input type="text"
                           name="text"
                           class="form-control store-autocomplete"
                           data-channel-ref="select.channel-selector"
                           data-context=".command"
                           value="{{ command.text }}"
                    />
                    <label class="form-label">{% trans from 'customcommands' %}form.reply_text{% endtrans %}</label>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-12">
            <div class="form-group form-float">
                <div class="form-line">
                    <select name="channels" class="form-control {{ isTemplate ? "ms" : "" }} channel-selector" multiple>
                        {% for channel in availableChannels %}
                            <option value="{{ channel }}" {{ channel in command.channels ? "selected" : "" }}>{{ channel }}</option>
                        {% endfor %}
                    </select>
                    <label class="form-label">{% trans %}form.channels{% endtrans %}</label>
                </div>
            </div>
        </div>

        <div class="col-lg-1 col-xs-12 text-right">
            <a data-action="save" data-target="#command-{{ command.name }}" title="{% trans %}button.update{% endtrans %}" class="btn btn-success">
                <i class="material-icons md-18">done</i>
            </a>

            <a data-action="delete" data-target="#command-{{ command.name }}" title="{% trans %}button.delete{% endtrans %}" class="btn btn-danger">
                <i class="material-icons md-18">clear</i>
            </a>
        </div>
    </div>
</div>
