{% extends 'HedgebotCoreBundle::base.html.twig' %}
{% block title %}AutoHost{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/pages/plugin/autohost.css') }}" rel="stylesheet"/>
{% endblock %}

{% block main_title %}
    <h3>
        AutoHost
    </h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-xs-12">
            <div class="card">
                <div class="form-group form-float">
                    <div class="form-line">
                        <div id="chosen-channel">
                            <select id="host-channels" name="host-channels" class="form-control channel-selector">
                                {% for channel in availableChannels %}
                                    <option class="host-channel"
                                            value="{{ channel }}" {{ channel in channelSelected ? "selected" : "" }}>{{ channel }}</option>
                                {% endfor %}
                                <option class="host-channel" value="speedthemall">speedthemall</option>
                            </select>
                            <label class="form-label">{% trans %}form.channel{% endtrans %}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-xs-12">
            <div class="pull-right">
                <a class="btn btn-primary waves-effect" data-action="new-channel">
                    <i class="material-icons">add</i>
                    <span>New channel to host</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <div class="card">

                <div class="header">
                    <h2>{% trans %}title.configuration{% endtrans %}</h2>
                </div>

                <div class="body">
                    {% for host in hosts %}
                        {% if host.channel in channelSelected %}
                            <div id="configuration">
                                {% include 'HedgebotAutoHostBundle::route/configuration.html.twig' with {'isTemplate': false, 'host': host} %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>{% trans %}title.channels_to_host{% endtrans %}</h2>
                </div>

                <div class="body">
                    {% for host in hosts %}
                        {% if host.channel in channelSelected %}
                            {% include 'HedgebotAutoHostBundle::route/hosted.html.twig' with {'isTemplate': false, 'host': host} %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# Scripts, load additional scripts needed for this route, and initialize main module #}
{% block scripts %}
    <script src="{{ asset('plugins/nouislider/nouislider.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('js/modules/plugin/auto-host.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            const options = {
                hostChannelContainerSelector: '#chosen-channel',
                hostChannelSelector: '#host-channels',
                indexAutohostRoute: "index",
                configurationContainerSelector: '#configuration',
                configurationFieldNames: {
                    channel: "channel",
                    enabled: "enabled",
                    timeInterval: "time-interval",
                    blackList: "title-black-list",
                    whiteList: "title-white-list"
                },
                hostedContainerSelector: '#hosted-channels',
                hostedFieldNames: {
                    enabled: "enabled",
                    hostedChannel: "hosted-channel",
                    priority: ""
                }
            };

            AutoHost.init(options);
        });
    </script>
{% endblock %}