{% extends 'HedgebotCoreBundle::base.html.twig' %}
{% form_theme form with ['HedgebotCoreBundle::form/role_form.html.twig'] %}
{% block title %}Role management - Hedgebot{% endblock %}

{% block main_section %}
    {{ form_start(form) }}
        {{ parent() }}
    {{ form_end(form) }}
{% endblock %}

{% block main_title %}
    <div class="form-main-action pull-right">
        {{ form_widget(form.submit) }}
    </div>

    <h3>
        {% if role is not empty %}
            Edit role: {{ role.name }}
        {% else %}
            New role
        {% endif %}
    </h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Role</h2>
                </div>

                <div class="body">

                    {{ form_row(form.id) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.parent) }}
                    {{ form_row(form.default) }}
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Rights</h2>
                </div>

                <div class="body">
                    <div class="row">
                        <div class="col-xs-2 text-center">
                            <label>Override</label>
                        </div>
                        <div class="col-xs-8">
                            <label>Right name</label>
                        </div>
                        <div class="col-xs-2 text-center">
                            <label>Grant</label>
                        </div>
                    </div>

                    <div id="rights-list">
                        {{ form_widget(form.rights) }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Users</h2>
                </div>

                <div class="body">
                    {{ form_widget(form.users) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# Scripts, load additional scripts needed for this route, and initialize main module #}
{% block scripts %}
    <script src="{{ asset('js/modules/security/role.js') }}"></script>
    <script src="{{ asset('js/modules/symfony-collections.js') }}"></script>
    <script type="text/javascript">
        $(function()
        {
            var roleOptions = {
                rightsContainerSelector: '#rights-list'
            };

            RoleActions.init(roleOptions);

            var collectionOptions = {
                newItemInsertSelector: '.role-collection-add-container'
            };
            SymfonyCollections.init(collectionOptions);
        });
    </script>
{% endblock %}