{% extends 'core/base.html.twig' %}
{% block title %}Twitch API - Tokens - Hedgebot{% endblock %}

{% block main_title %}
    <h3>
        Twitch API - Tokens

        <div class="pull-right">
            <a class="btn btn-primary waves-effect" data-toggle="modal" data-target="#new-token-modal">
                <i class="material-icons">add</i>
                <span>New access token</span>
            </a>
        </div>
    </h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Access tokens</h2>
                </div>

                <div class="body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Channel</th>
                                <th>Access Token</th>
                                <th>Refresh Token</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for channel, token in tokens %}
                            <tr>
                                <td>{{ channel }}</td>
                                <td>
                                    <code>
                                        {{ token.token|anonymize }}
                                    </code>
                                </td>
                                <td>
                                    <code>{{ token.refresh|anonymize }}</code>
                                </td>
                                <td class="text-right">
                                    <a href="{{ path('twitch_token_revoke', {'channel': channel}) }}" title="Delete" class="btn btn-danger">
                                        <i class="material-icons md-18">clear</i>
                                        <span>Revoke</span>
                                    </a>
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# New token modal #}
    <div id="new-token-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create a new access token</h4>
                </div>

                <div class="modal-body">
                    To create an access token, you will be redirected on Twitch to allow the bot to perform actions
                    on your behalf <i>via</i> the Twitch API. Make sure you are currently authentified with the correct
                    account you wish to give the bot access to (it doesn't have to be the account of the channel you wish
                    to give access to, but it has to have edit rights on that channel). After allowing the bot to use your
                    account, you will be asked for which channel to link the token to.
                </div>

                <div class="modal-footer">
                    <a class="btn btn-link waves-effect" href="{{ twitch_auth_url }}">Authorize</a>
                    <a class="btn btn-link text-danger waves-effect" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
