{% use 'core/form/material_form.html.twig' %}

{%- block _custom_call_parameters_rest -%}
    <div class="text-right call-collection-add-container">
        <a class="btn btn-primary btn-circle-lg waves-effect" data-action="collection-add">
            <i class="material-icons">add</i>
        </a>
    </div>
{%- endblock _custom_call_parameters_rest -%}

{%- block _custom_call_parameters_entry_row -%}
    <div class="form-group form-float {% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}" data-item>
        <div class="row">
    	    <div class="col-xs-12 col-md-5">
                <div class="form-line{{ form.key.vars.disabled ? " disabled" : "" }}">
                    {{- form_widget(form.key) -}}
                    {{- form_label(form.key) -}}
                </div>
            </div>

            <div class="col-xs-12 col-md-7">
                <div class="input-group">
                    <div class="form-line{{ form.vars.disabled ? " disabled" : "" }}">
                        {{- form_widget(form.value) -}}
                        {{- form_label(form.value) -}}
                    </div>

                    <a href="javascript:void(0);" class="input-group-addon">
                        <i class="material-icons" data-action="collection-delete">clear</i>
                    </a>
                </div>
            </div>
        </div>

        {{- form_errors(form) -}}
    </div>
{%- endblock _custom_call_parameters_entry_row -%}
