{% extends 'core/base.html.twig' %}
{% form_theme form with ['core/form/material_form.html.twig'] %}

{% block stylesheets %}
    <link href="{{ asset('css/pages/plugin/horaro.css') }}" rel="stylesheet" />
{% endblock %}

{% set titleString %}
    {% if schedule is not empty %}
        Edit schedule: {{ schedule.identSlug }}
    {% else %}
        New schedule
    {% endif %}
{% endset %}

{% block title %}
    {{ titleString }} - Hedgebot
{% endblock %}

{% block main_title %}
    <h3>{{ titleString }}</h3>
{% endblock %}

{% block content %}
    <div class="row">
        {{ form_start(form) }}
            <div class="col-lg-4 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>General info</h2>
                    </div>

                    <div class="body">
                        {{ form_row(form.eventId) }}
                        {{ form_row(form.scheduleId) }}
                        {{ form_row(form.hiddenKey) }}
                        {{ form_row(form.enabled) }}
                        {{ form_row(form.channel) }}
                    </div>
                </div>

                <div class="card">
                    <div class="header">
                        <h2>Text templates</h2>
                    </div>

                    <div class="body">
                        {{ form_row(form.titleTemplate) }}
                        {{ form_row(form.gameTemplate) }}
                        {{ form_row(form.announceTemplate) }}
                    </div>
                </div>

                <div class="pull-right">
                    {{ form_row(form.submit) }}
                </div>
            </div>
        {{ form_end(form) }}

        <div class="col-lg-8 col-xs-12">
            <div class="card" id="actions-card">
                <div class="header">
                    <h2>Schedule control</h2>
                </div>

                <div class="body">
                    <p class="text-center {{ schedule.paused ? "" : "hidden" }}" id="schedule-paused">
                        <span class="col-orange font-bold">Schedule is paused</span>
                    </p>
                    <div class="text-center">
                        <button id="previous-button" class="btn btn-lg btn-primary">Previous item</button>
                        <button id="pause-button" class="btn btn-lg btn-primary">{{ schedule.paused ? "Resume" : "Pause" }} schedule</button>
                        <button id="next-button" class="btn btn-lg btn-primary">Next item</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <div class="pull-right m-t--5">
                        <button class="btn btn-primary" id="refresh-data-button">
                            Refresh schedule data
                        </button>
                    </div>

                    <h2>Schedule view</h2>
                </div>

                <div class="body">
                    <table class="table table-responsive" id="schedule-view">

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# Scripts, load additional scripts needed for this route, and initialize main module #}
{% block scripts %}
    <script src="{{ asset('js/modules/plugin/horaro.js') }}"></script>
    <script type="text/javascript">
        $(function()
        {
            var options = {
                identSlug: '{{ schedule.identSlug }}',
                previousButtonSelector: '#previous-button',
                pauseButtonSelector: '#pause-button',
                nextButtonSelector: '#next-button',
                refreshDataButtonSelector: '#refresh-data-button',
                pausedScheduleSelector: '#schedule-paused',
                controlBlockSelector: '#actions-card',
                actionRoute: 'horaro_ajax_schedule_action',
                getScheduleRoute: 'horaro_ajax_get_schedule',
                scheduleViewSelector: '#schedule-view'
            };

            Horaro.init(options);
        });
    </script>
{% endblock %}
