{% extends 'core/base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body_attributes %}login-page bg-indigo{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/pages/login.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">
                <picture>
                    <source srcset="{{ asset('images/logo-2x.png') }}" media="(min-resolution: 144dpi)">
                    <source srcset="{{ asset('images/logo.png') }}">
                    <img src="{{ asset('images/logo.png') }}" />
                </picture>
            </a>

        </div>
        <div class="card">
            <div class="body">
                <form action="{{ path('login') }}" method="post">
                    <div class="msg">{% trans %}form.start_session{% endtrans %}</div>
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" id="inputUsername" name="_username" class="form-control" placeholder="{% trans %}form.username{% endtrans %}" required autofocus value="{{ last_username }}" />
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="{% trans %}form.password{% endtrans %}" required />
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                        </div>
                    </div>
                    <div class="row">
                        {# <div class="col-xs-8 p-t-5">
                            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Remember Me</label>
                        </div> #}
                        <div class="col-xs-4 pull-right">
                            <button type="submit" class="btn btn-block bg-red waves-effect">{% trans %}button.login{% endtrans %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
