{% extends 'core/base.html.twig' %}
{% form_theme form with ['twitter/form/tweet_form.html.twig'] %}
{% block title %}
    {{ (tweet is not empty ? "title.edit_tweet" : "title.new_tweet")|trans({}, "twitter") }}
    -
    {% trans from "twitter" %}title.twitter{% endtrans %}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/pages/plugin/customcommands.css') }}" rel="stylesheet" />
{% endblock %}

{# Main body override, to add the global form (englobing the sidebar too). #}
{% block main_section %}
    {{ form_start(form) }}
        {{ parent() }}
    {{ form_end(form) }}
{% endblock %}

{% block main_title %}
    <div class="form-main-action pull-right">
            <button class="btn btn-primary btn-lg waves-effect" type="submit">
                {% trans from "twitter" %}button.save_tweet{% endtrans %}
            </button>
    </div>

    <h3>
        {% trans from "twitter" %}title.twitter{% endtrans %} - 
        {{ (tweet is not empty ? "title.edit_tweet" : "title.new_tweet")|trans({}, "twitter") }}
    </h3>
{% endblock %}

{% block content %}
    <div class="row tweet-form">
        <div class="col-md-6 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>{% trans from "twitter" %}tab.status{% endtrans %}</h2>
                    </div>

                    <div class="body">
                        {% if tweet is not empty %}
                            <div>
                                <label>{% trans from "twitter" %}form.status.label{% endtrans %} :</label>
                                <span class="badge {{ statusClass }}">
                                    {{ ("form.status." ~ tweet.status)|trans({}, "twitter") }}
                                </span>
                                <a class="btn btn-link col-indigo m-l-10" data-toggle="display" data-target=".status-change">
                                    {% trans %}button.edit{% endtrans %}
                                </a>
                            </div>

                            <div class="status-change hidden">
                                {{ form_row(form.status) }}
                            </div>

                            {% if tweet.sentTime is not empty %}
                                <div>
                                    <label>{% trans from 'twitter' %}form.sent_at{% endtrans %} </label>
                                    {{ tweet.sentTime|date("form.sent_at_format"|trans({}, "twitter")) }}
                                </div>
                            {% endif %}
                        {% else %}
                            {# Default status #}
                            {{ form_row(form.status) }}
                        {% endif %}
                    </div>
                </div>
            
            <div class="card">
                <div class="header">
                    <h2>{% trans from "twitter" %}tab.tweet{% endtrans %}</h2>
                </div>

                <div class="body">
                    {{ form_row(form.id) }}
                    {{ form_row(form.account) }}
                    {{ form_row(form.channel) }}
                    {{ form_row(form.content) }}
                    {{ form_row(form.media) }}
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>{% trans from 'twitter' %}tab.scheduling_settings{% endtrans %}</h2>
                </div>

                <div class="body trigger-block-container">
                    {{ form_row(form.trigger) }}
                    <div class="trigger-block datetime">
                        {{ form_row(form.sendTime) }}
                    </div>

                    <div class="trigger-block event">
                        {{ form_row(form.event) }}
                    </div>

                    <h3>
                        {% trans from "twitter" %}tab.constraints{% endtrans %}
                    </h3>

                    <div class="tweet-constraints">
                        {{ form_widget(form.constraints) }}
                    </div>
                </div>
            </div>
            {% if tweet is not empty %}
                <div class="card">
                    <div class="header">
                        <h2>{% trans from "twitter" %}tab.actions{% endtrans %}</h2>
                    </div>

                    <div class="body text-center">
                        <a class="btn btn-primary btn-lg waves-effect" href="{{ path('twitter_tweet_send', {'tweetId': tweet.id}) }}">
                            {% trans from "twitter" %}button.send_tweet_now{% endtrans %}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{# Scripts, load additional scripts needed for this route, and initialize main module #}
{% block scripts %}
    <script src="{{ asset('js/modules/plugin/twitter.js') }}"></script>
    <script src="{{ asset('js/modules/symfony-collections.js') }}"></script>
    <script type="text/javascript">
        $(function()
        {
            const options = {
                triggerBlockContainerSelector: '.trigger-block-container',
                triggerInputSelector: 'input[name="tweet[trigger]"]',
                triggerBlocksSelector: '.trigger-block',
                constraintContainerSelector: '.tweet-constraints',
                constraintTypeSelector: '.constraint-type',
                constraintLvalSelector: '.constraint-lval'
            };

            Twitter.init(options);

            const collectionOptions = {
                newItemInsertSelector: '.constraint-collection-add-container'
            };
            SymfonyCollections.init(collectionOptions);
        });
    </script>
{% endblock %}
