{% extends 'core/base.html.twig' %}
{% form_theme form with ['core/form/user_form.html.twig'] %}
{% block title %}{% trans %}tab.user_profile{% endtrans %}{% endblock %}

{% block main_section %}
    {{ form_start(form) }}
    {{ parent() }}
    {{ form_end(form) }}
{% endblock %}

{% block main_title %}
    <div class="form-main-action pull-right">
        {{ form_widget(form.submit) }}
    </div>

    <h3>
        {% if user.id is not empty %}
            {% trans %}form.edit_user{% endtrans %}: {{ user.username }}
        {% else %}
            {% trans %}form.new_user{% endtrans %}
        {% endif %}
    </h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>{% trans %}tab.user_profile{% endtrans %}</h2>
                </div>

                <div class="body">
                    {{ form_row(form.id) }}
                    {{ form_row(form.username) }}
                    {% if form.password is defined %}
                        {{ form_row(form.password) }}
                    {% endif %}
                    {{ form_row(form.plainPassword) }}
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>{% trans %}tab.app_roles{% endtrans %}</h2>
                </div>

                <div class="body">
                    {{ form_row(form.roles) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# Scripts, load additional scripts needed for this route, and initialize main module #}
{% block scripts %}
{% endblock %}
