{% extends 'core/base.html.twig' %}
{% block title %}{% trans %}title.permissions{% endtrans %}{% endblock %}

{% block main_title %}
    <h3>
        {% trans %}title.permissions{% endtrans %}
        <div class="pull-right">
            <a class="btn btn-primary waves-effect" href="{{ path('security_role_new') }}">
                <i class="material-icons">add</i>
                <span>{% trans %}button.new_role{% endtrans %}</span>
            </a>
        </div>
    </h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Roles</h2>
                </div>

                <div class="body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Parent</th>
                                <th>Default</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for role in roles %}
                            <tr>
                                <td>{{ role.id }}</td>
                                <td>{{ role.name }}</td>
                                <td>{{ role.parent is not empty ? roles[role.parent].name : "-" }}</td>
                                <td>{{ role.default ? "Yes" : "No" }}</td>
                                <td class="text-right">
                                    <a href="{{ path('security_role_edit', {'roleId': role.id}) }}" title="Edit" class="btn btn-success">
                                        <i class="material-icons md-18">edit</i>
                                    </a>

                                    <a href="{{ path('security_role_delete', {'roleId': role.id}) }}" title="Delete" class="btn btn-danger">
                                        <i class="material-icons md-18">clear</i>
                                    </a>
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
