<div class="card chat-widget">
    <div class="header">
        <h2>{% trans %}title.twitch_chat{% endtrans %} - {{ settings.channel }}</h2>
    </div>

    <div class="body">
        {% if settings.light_chat is defined and settings.light_chat == "1" %}
            {% set theme = app.request.cookies.has('dark-mode') ? "" : "light" %}
            <iframe src="https://nightdev.com/hosted/obschat/?{{ theme ? 'theme=' ~ theme ~ '&' : '' }}channel={{ settings.channel }}&fade=false&bot_activity=true&prevent_clipping=false"></iframe>
        {% else %}
            {% set theme = app.request.cookies.has('dark-mode') ? "darkpopout&" : "" %}
            <iframe src="https://www.twitch.tv/embed/{{ settings.channel }}/chat?{{ theme }}parent={{ app.request.headers.get('host') }}"></iframe>
        {% endif %}
    </div>
</div>
