<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}{% endblock %} - HedgeBot Administration Interface</title>
        <!-- Favicon-->
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="launcher-icon.png" />
        <link rel="manifest" href="manifest.json">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 

        <!-- Bootstrap Core Css -->
        <link href="{{ asset('plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

        <!-- Waves Effect Css -->
        <link href="{{ asset('plugins/node-waves/waves.css') }}" rel="stylesheet" />

        <!-- Animation Css -->
        <link href="{{ asset('plugins/animate-css/animate.css') }}" rel="stylesheet" />

        <!-- waitMe CSS. -->
        <link href="{{ asset('plugins/waitme/waitMe.min.css') }}" rel="stylesheet" />

        <!-- AdminBSB Css -->
        <link href="{{ asset('css/adminbsb.min.css') }}" rel="stylesheet">

        <!-- AdminBSB Theme. -->
        <link href="{{ asset('css/theme-indigo.min.css') }}" rel="stylesheet" />

        <!-- Bootstrap Select Css -->
        <link href="{{ asset('plugins/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

        <!-- Custom styles -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>

    {% set rightSidebarBlock = block('right_sidebar') %}
    {% block outer_body %}
        <body class="{% block body_attributes %}theme-indigo{% endblock %}">
            {% block body %}
                <!-- Overlay For Sidebars -->
                <div class="overlay"></div>

                {% if search is defined %}
                    <!-- Search Bar -->
                    <div class="search-bar">
                        <div class="search-icon">
                            <i class="material-icons">search</i>
                        </div>
                        <input type="text" placeholder="Search...">
                        <div class="close-search">
                            <i class="material-icons">close</i>
                        </div>
                    </div>
                {% endif %}

                <!-- Top Bar -->
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="navbar-header navbar-left">
                            <a href="javascript:void(0);" class="bars"></a>
                            <a class="navbar-brand" href="{{ path('dashboard') }}">
                            	<picture>
								    <source srcset="{{ asset('images/logo-header-2x.png') }}" media="(min-resolution: 144dpi)">
								    <source srcset="{{ asset('images/logo-header.png') }}">
	                            	<img src="{{ asset('images/logo-header.png') }}" />
                            	</picture>
                        	</a>
                        </div>

                        {% if rightSidebarBlock is not empty %}
                            <div class="pull-right">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="pull-right">
                                        <a href="javascript:void(0);" class="js-right-sidebar" data-close="true">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </nav>
                <!-- #Top Bar -->

                <!-- Main section -->
                {% block main_section %}
                    <section>
                        <!-- Left Sidebar -->
                        <aside id="leftsidebar" class="sidebar">
                            <!-- User Info -->
                            <div class="user-info">
                                <div class="info-container">
                                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</div>
                                    <div class="btn-group user-helper-dropdown">
                                        <a title="Log out" href="{{ path('logout') }}">
                                            <i class="material-icons">power_settings_new</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- #User Info -->

                            <!-- Menu -->

                            {# Recursive menu generation macro #}
                            {% macro showRecursiveMenu(item) %}
                                {% import _self as self %}
                                <li class="{{ app.request.get('_route') == item.route or (item.route and app.request.requestUri starts with path(item.route)) ? "active" }}">
                                    <a {{ item.route ? 'href=' ~ path(item.route) : "" }} class="waves-effect {{ item.submenu is not empty ? "menu-toggle" : "" }}">
                                        {% if item.icon is not empty %}
                                            {{ item.icon|iconize|raw }}
                                            <span>{{ item.title }}</span>
                                        {% else %}
                                            {{ item.title }}
                                        {% endif %}
                                    </a>
                                    {% if item.submenu is not empty %}
                                        <ul class="ml-menu">
                                            {% for child in item.submenu %}
                                                {{ self.showRecursiveMenu(child) }}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endmacro %}

                            {% import _self as self %}
                            <div class="menu">
                                <ul class="list">
                                    <li class="header">MAIN NAVIGATION</li>
                                    {% for item in menuGenerator.generate() %}
                                        {{ self.showRecursiveMenu(item) }}
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>

                        <!-- Right Sidebar -->
                        {% if rightSidebarBlock is not empty %}
                            <aside id="rightsidebar" class="right-sidebar">
                                {% block right_sidebar %}{% endblock %}
                            </aside>
                        {% endif %}
                    </section>

                    <section class="content">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }} alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {% if rightSidebarBlock is not empty %}
                            <div id="options-indicator" class="hidden-xs">
                                Settings menu
                                <img src="{{ asset('images/options-arrow.png') }}" />
                            </div>
                        {% endif %}

                        <div class="container-fluid">
                            {% block main_title %}{% endblock %}

                            {% block breadcrumbs %}
                                {{ wo_render_breadcrumbs() }}
                            {% endblock %}

                            {% block content %}{% endblock %}
                        </div>
                    </section>
                {% endblock %}
            {% endblock %}

            <!-- FOS JS Routing bundle -->
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            <!-- Jquery Core Js -->
            <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>

            <!-- Bootstrap Core Js -->
            <script src="{{ asset('plugins/bootstrap/js/bootstrap.js') }}"></script>

            <!-- Waves Effect Plugin Js -->
            <script src="{{ asset('plugins/node-waves/waves.js') }}"></script>

            <!-- Validation Plugin Js -->
            <script src="{{ asset('plugins/jquery-validation/jquery.validate.js') }}"></script>

            <!-- Bootstrap Notify Js -->
            <script src="{{ asset('plugins/bootstrap-notify/bootstrap-notify.min.js') }}"></script>

            <!-- WaitMe Plugin Js -->
            <script src="{{ asset('plugins/waitme/waitMe.min.js') }}"></script>

            <!-- Bootstrap select Js -->
            <script src="{{ asset('plugins/bootstrap-select/js/bootstrap-select.js') }}"></script>

            <!-- Textarea caret cursor pixel position function -->
            <script src="{{ asset('plugins/textarea-caret-position/textarea-caret-position.js') }}"></script>

            <!-- Rivets.js binding library -->
            <script src="{{ asset('js/rivets.bundled.min.js') }}"></script>

            <!-- Admin base Js -->
            <script src="{{ asset('js/admin.js') }}"></script>

            <!-- Admin base modules -->
            <script src="{{ asset('js/modules/rivets-formatters.js') }}"></script>
            <script src="{{ asset('js/modules/store.js') }}"></script>

            <!-- Custom Js -->
            <script src="{{ asset('js/main.js') }}"></script>

            {% if rightSidebarBlock is not empty %}
                <script type="text/javascript">
                    $(function()
                    {
                        $(".js-right-sidebar").on('mouseover', function(ev)
                        {
                           $("#options-indicator").fadeOut();
                        });
                    });
                </script>
            {% endif %}

            {% block scripts %}{% endblock %}
        </body>
    {% endblock %}
</html>
