{% extends 'HedgebotCoreBundle::base.html.twig' %}
{% block title %}Custom calls - Hedgebot{% endblock %}

{% block main_title %}
    <h3>
        Custom calls

        <div class="pull-right">
            <a class="btn btn-primary waves-effect" href="{{ path('custom_calls_new') }}">
                <i class="material-icons">add</i>
                <span>New call</span>
            </a>
        </div>
    </h3>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Custom calls</h2>
                </div>

                <div class="body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Method</th>
                                <th>URL</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for call in calls %}
                                <tr>
                                    <td>{{ call.id }}</td>
                                    <td>{{ call.method }}</td>
                                    <td>{{ call.url }}</td>
                                    <td class="text-right">
                                        <a href="{{ path('custom_calls_edit', {'id': call.id}) }}" title="Edit" class="btn btn-success">
                                            <i class="material-icons md-18">edit</i>
                                        </a>

                                        <a href="{{ path('custom_calls_delete', {'id': call.id}) }}" title="Delete" class="btn btn-danger">
                                            <i class="material-icons md-18">clear</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}