<div class="card timer-widget" data-id="{{ timer.id }}">
    {% if settings.hide_title_bar is not defined or settings.hide_title_bar != "1" %}
        <div class="header {{ settings.background_color ?? ''}}">
            <h2>Timer - {{ timer.title }}</h2>
        </div>
    {% endif %}

    <span class="hidden timer-info"
          data-type="{{ timer.type }}"
          data-started="{{ timer.started ? "true" : "false" }}"
          data-paused="{{ timer.paused ? "true" : "false" }}"
          data-start-time="{{ timer.startTime }}"
          data-offset="{{ timer.offset }}"
          data-countdown="{{ timer.countdown ? "true" : "false" }}"
          data-countdown-amount="{{ timer.countdownAmount }}"
    >
    </span>
          

    <div class="{{ extended_controls is defined or timer.type == "race-timer" ? "header" : "body" }} text-center {{ settings.background_color ?? ''}}">
        <div class="row">
            <div class="col-xs-12 col-md-6 font-32 timer-component-block">
                <span class="timer-time">
                    {{ timer.formattedTime }}
                </span>
            </div>

            <div class="col-xs-12 col-md-6 timer-control text-center timer-component-block">
                <button class="btn bg-green timer-start-button waves-effect" title="Start/Stop">
                    <i class="material-icons">play_arrow</i>
                </button>
                
                <button class="btn bg-blue timer-pause-button waves-effect" title="Pause/Resume">
                    <i class="material-icons">pause</i>
                </button>

                <button class="btn bg-red timer-reset-button waves-effect" title="Reset">
                    <i class="material-icons">replay</i>
                </button>
            </div>
        </div>
    </div>

    {# Race timer specific controls #}
    {% if timer.type == "race-timer" %}
        <div class="header text-center {{ settings.background_color ?? ''}}">
            {% for player in timer.players %}
                <div class="row timer-player {{ loop.index > 1 ? "m-t-10" : "" }}" data-id="{{ player.player }}">
                    <div class="col-xs-5 font-20">
                        {{ player.player }}
                    </div>

                    <span class="hidden timer-player-info"
                          data-elapsed="{{ player.elapsed is defined ? player.elapsed : "null" }}"    
                    >
                    </span>

                    <div class="col-xs-4 font-20 timer-player-time">
                        {% if player.elapsed is not empty %}
                            {{ player.formattedTime }}
                        {% else %}
                            {{ timer.formattedTime }}
                        {% endif %}
                    </div>

                    <div class="col-xs-3">
                        <button class="btn btn-xs bg-green timer-player-stop-button waves-effect" title="Stop">
                            <i class="material-icons">done</i>
                        </button>
                        <a class="btn btn-xs btn-primary waves-effect" target="_blank" href="{{ path('timer_front_embed', {'id': timer.id, 'player': player.player}) }}">
                            <i class="material-icons">cast</i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if extended_controls is defined %}
        <div class="body text-center {{ settings.background_color ?? '' }}">
            <a class="btn btn-primary waves-effect" title="Embed" target="_blank" href="{{ path('timer_front_embed', {'id': timer.id }) }}">
                <i class="material-icons">cast</i> 
                <span>Embed</span>
            </a>

            <a class="btn btn-success waves-effect" title="Edit">
                <i class="material-icons">create</i>
                <span>Edit</span>
            </a>

            <a class="btn btn-danger waves-effect" title="Delete">
                <i class="material-icons">delete</i> 
                <span>Delete</span>
            </a>
        </div> 
    {% endif %}
</div>