<div class="card timer-widget" data-id="{{ timer.id }}">
    {% if settings.hide_title_bar is not defined or settings.hide_title_bar != "1" %}
        <div class="header {{ settings.background_color ?? ''}}">
            <h2>Timer - {{ timer.title }}</h2>
        </div>
    {% endif %}

    <span class="hidden timer-info" 
          data-started="{{ timer.started ? "true" : "false" }}"
          data-paused="{{ timer.paused ? "true" : "false" }}"
          data-start-time="{{ timer.startTime }}"
          data-offset="{{ timer.offset }}"
          data-countdown="{{ timer.countdown ? "true" : "false" }}"
          data-countdown-amount="{{ timer.countdownAmount }}"
    >
    </span>
          

    <div class="{{ extended_controls is defined ? "header" : "body" }} text-center {{ settings.background_color ?? ''}}">
        <div class="row">
            <div class="col-xs-12 col-md-6 font-32 timer-component-block">
                <span class="timer-time">
                    {{ timer.formattedTime }}
                </span>
            </div>

            <div class="col-xs-12 col-md-6 timer-control text-center timer-component-block">
                <button class="btn bg-green timer-start-button waves-effect" title="Start/Stop">
                    <i class="material-icons">play_arrow</i>
                </button>
                
                <button class="btn bg-blue timer-pause-button waves-effect" title="Pause/Resume">
                    <i class="material-icons">pause</i>
                </button>

                <button class="btn bg-red timer-reset-button waves-effect" title="Reset">
                    <i class="material-icons">replay</i>
                </button>
            </div>
        </div>
    </div>

    {% if extended_controls is defined %}
        <div class="body text-center {{ settings.background_color ?? '' }}">
            <a class="btn btn-primary waves-effect" title="Embed" target="_blank" href="{{ path('timer_front_embed', {'id': timer.id }) }}">
                <i class="material-icons">cast</i> 
                <span>Embed</span>
            </a>

            <a class="btn btn-success waves-effect" title="Edit">
                <i class="material-icons">create</i>
                <span>Edit</span>
            </a>

            <a class="btn btn-danger waves-effect" title="Delete">
                <i class="material-icons">delete</i> 
                <span>Delete</span>
            </a>
        </div> 
    {% endif %}
</div>